$--color-primary: #008080;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
%section{
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  &::-webkit-scrollbar-thumb{
    background-color: rgba(136,136,136,.5);
    border-radius: 20px;
    z-index: 999;
  }
  &::-webkit-scrollbar{
   height: 10px;
   width: 8px;
  }
  &::-webkit-scrollbar-track{
    border-radius: 20px
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
input[type="number"]{
    -moz-appearance: textfield;
  }
.view{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}
.btn {
  line-height: 25px;
  padding: 0 10px;
  margin: 4px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #606266;
  color: #606266;
  outline-style: none;
  cursor: pointer;
  &:hover {
    border: 1px solid #008080;
    color: #008080;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.3s;
    transform: scale(1.1)
  }
  &:disabled{
    font-weight: 400;
    color: #bfcbd9;
    border-color: #bfcbd9;
    transform: scale(1);
    cursor: not-allowed;
  }

}
.btn-padding{
  padding: 5px;
  text-align: center;
}
.left-box {
  min-width: 350px;
  // width: 500px;
  padding: 5px;
  animation: right-to-left 5s linear;
  border-right: 1px solid #e6e6e6;
}
.list-box {
  .list {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 5px 10px;
    padding: 5px;
    overflow-y: auto;
    height: 230px;
    text-align: center;
    // overflow: hidden;
    @extend %section;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      padding: 6px 10px;
      border-bottom: 1px solid #e6e6e6;
      &:hover {
        cursor: pointer;
        background: rgba(67, 159, 252, 0.1);
      }
    }
    .disabled{
      pointer-events: none;
    }
    .selected {
      background: rgba(67, 159, 252, 0.2);
    }
  }
  .el-checkbox-group{
    height: 200px;
  }
}
.right-box {
  border: 1px solide #e6e6e6;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 10px 10px 10px 0;
}
.top-box{
  width: 100%;
  display: block;
  padding: 20px 20px 0 20px;
}
.bottom-box{
  padding: 0 20px;
}
.conf-box{
  height: 60%;
  .scrollBox{
    height: 200px;
    .search{
      background-color: rgba(0, 128, 128,.1)
    }
  }
}
.conf-h {
  margin: 0;
  padding: 10px;
  display: inline-block;
}
.conf-form{
  font-size: 14px;
  font-weight: 700;
  .conf-form-row{
    padding: 0 5px 5px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    .conf-form-label{
      padding: 10px 5px;
      width: 100px;
      position: relative;
    }
    .required-span{
      color: red;
      position: absolute;
      right: 0;
    }
    .unit-span{
      position: absolute;
      top: 5px;
      padding: 10px;
      right: 75px;
      color: #bfcbd9;
      font-weight: 400;
      pointer-events: none;
    }
    .lefticon{
      right: 45px;
    }
    .righticon{
      right: 10px;
    }
    .time-picker{
      width: 100%;
      margin: 0 5px 0 10px;
      input{
        height: 36px;
        padding: 5px 10px;
        &::-webkit-input-placeholder{
          color: #696969;
        }
        &:hover{
          border-color:#008080;
          transition: all 0.3s;
          transition: all 0.3s;
          transform: scale(1.05);
          color:#008080;
        }
        &:disabled{
          cursor: not-allowed;
          background-color: #fff;
          border-color: #bfcbd9;
          transform: scale(1);
          color:#696969;
        }
      }
      span{
        left: calc(100% - 35px);
        width: 35px;
        color:#bfcbd9;
      }
      .el-icon-time{
        border-left: 1px solid #bfcbd9;
        width: 35px;
      }
      .el-icon-circle-close{
        background: #fff;
        left: 0;
        margin: 1px;
        height: 34px;
        width: 31px;
        transition: none;
        &:hover{
          color: #008080;
          transition: all 0.3s;
        }
      }
    }
    .datetime-picker{
      width: 100%;
      input{
        border-color: #bfcbd9;
        height: 36px;
        padding: 5px 10px;
        &::-webkit-input-placeholder{
          color: #696969;
        }
        &:hover{
          border-color:#008080;
          transition: all 0.3s;
          transition: all 0.3s;
          transform: scale(1.05);
          color:#008080;
        }
        &:disabled{
          cursor: not-allowed;
          background-color: #fff;
          border-color: #bfcbd9;
          transform: scale(1);
          color:#696969;
        }
      }
      span{
        left: calc(100% - 35px);
        width: 35px;
        color:#bfcbd9;
      }
      .el-icon-time{
        border-left: 1px solid #bfcbd9;
        width: 35px;
      }
      .el-icon-circle-close{
        background: #fff;
        left: 0;
        margin: 1px;
        height: 34px;
        width: 31px;
        transition: none;
        &:hover{
          color: #008080;
          transition: all 0.3s;
        }
      }
    }
    .conf-form-input{
      border: 1px solid #bfcbd9;
      border-radius: 5px;
      line-height: 15px;
      outline-style: none;
      display: block;
      padding: 5px 10px;
      margin: 0 5px 0 10px;
      width: 100%;
      &::-webkit-input-placeholder{
        color: #696969;
      }
      &:hover{
        border-color:#008080;
        transition: all 0.3s;
        transition: all 0.3s;
        transform: scale(1.05);
        color:#008080;
      }
      &:disabled{
        cursor: not-allowed;
        background-color: #fff;
        border-color: #bfcbd9;
        transform: scale(1);
        color:#696969;
      }
    }
    .conf-form-icon{
      color: #bfcbd9;
      padding: 10px;
      top: 0px;
      position: absolute;
      border-left: 1px solid #bfcbd9;
      cursor: pointer;
      &:hover{
        color: #008080;
        transition: all 0.3s;
        font-weight: 700;
      }
      &:disabled{
        cursor: not-allowed;
      }
    }
    .isdisabled{
        color: #bfcbd9;
        pointer-events: none;
        cursor: not-allowed;
        &:hover{
        color: #bfcbd9;
        transform: scale(1);
        }
      }
    .dropdown-menu{
      border: 1px solid #000;
      background-color: #fff;
      position: absolute;
      top: 35px;
      right: 5px;
      margin: 2px 5px;
      width: calc(100% - 100px);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 999;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li{
        text-align: center;
        padding: 10px 20px;
        font-weight: 400;
        cursor: pointer;
        &:first-child{
          border-bottom: 1px solid #bfcbd9;
        }
        &:hover{
          color: #fff;
          transition: all 0.3s;
          background: rgba(0, 128, 128,.5);
        }
      }
    }
  }
}
.checkbox{
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 20px;
  width: 330px;
  .el-checkbox-group{
    @extend %section;
  }
}
.el-checkbox-group{
  padding: 5px 10px;
}
.el-checkbox{
    display: inline-block;
    width: 100%;
    padding-right: 20px;
    &:hover{
      transition: all 0.3s;
      transition: all 0.3s;
      transform: scale(1.05);
      color:#008080;
    }
}
.el-checkbox+.el-checkbox{
  margin-left: 0;
}
.singleline-checkbox{
  display: flex;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  .el-checkbox{
    width: auto;
    &:first-child{
      padding-left: 0;
    }  
  }
}
.el-time-panel{
  width: 250px;
  border-radius: 5px;
  margin-top: 5px;
  .cancel,
  .confirm{
    &:hover {
      color: #008080;
      font-weight: 700;
      transition: all 0.3s;
      transform: scale(1.1)
    }

  }
}
.el-date-picker .el-picker-panel__content{
  width: 270px;
}
.el-picker-panel{
  width: 300px;
  border-radius: 5px;
  margin-top: 5px;
  .cancel,
  .confirm{
    &:hover {
      color: #008080;
      font-weight: 700;
      transition: all 0.3s;
      transform: scale(1.1)
    }

  }
}
.el-select{
  width: 100%;
  .el-input__inner{
    border-color: #bfcbd9;
    &::-webkit-input-placeholder{
      color: #696969;
    }
    &:hover{
    border-color:#008080;
    transition: all 0.3s;
    transition: all 0.3s;
    // transform: scale(1.05);
    color:#008080;
    }
  }
}
.arrow-left{
  width: 25px;
  top: calc(50% - 90px);
  right: 0;
  font-size: 25px;
  padding: 30px 0;
  height: 90px;
  position: relative;
  float: left;
  &:hover{
    background: rgba(0, 128, 128,.1);
  }
}
.el-table th{
  background:#f5f7fa;
}
.BMap_cpyCtrl {
  display: none;
}
.anchorBL {
  display: none;
}
.map-view {
  display: block;
  height: 100%;
}
#allmap {
  width: 100%;
  padding-right: 500px;
  height: 100%;
  position: relative;
  margin-top: -40px;
}
.search-vehicle {
  position: relative;
  width: 100%;
  .el-autocomplete{
    padding: 0;
  }
  .btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 2px 10px;
    margin: 10px 15px;
    &:hover{
      transform: scale(1)
    }
  }
}
.label-left-box{
  margin: 10px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  border-bottom-left-radius: 10px;
}
.label-box{
  margin: 10px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  border-bottom-left-radius: 10px;
  .label-row{
    padding: 5px;
    .label{
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.el-loading-mask{
  z-index: 998;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #008080;
  border-color: #008080;
}
.el-checkbox__inner:hover{
  border-color: #008080;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #008080;
}
.el-checkbox__input.is-focus.el-checkbox__label{
  color: #008080;
}
.el-time-panel__btn.confirm{
  color: #008080;
}
.switch-btn{
  .left-btn{
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:hover{
      // transform-origin: 100% 50% 0;
    }
  }
  .right-btn{
    margin-left: -3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover{
      // transform-origin: 0 50% 0;
      }
  }
  .selected{
    border-color: #008080;
    color: #008080;
    transform: scale(1.1);
    font-weight: 700;
  }
}
.el-tabs__nav{
  margin: 0 90px;
}
.el-tabs__header{
  margin: 0;
}
.empty-box{
  height: 250px;
  padding: 100px;
  text-align: center;
  color: #606266;
  font-size: 16px;
  font-weight: 400;
}
.el-input-number{
  width: 200px;
}
.slider-box{
  width: 200px;
  padding: 0 10px;
  // margin: 4px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #606266;
  color: #606266;
  .slider-label{
    font-weight: 400;
    float: left;
    padding: 8px 0;
    margin-right: 20px;
  }
  .slider{
    display: inline-block;
    width: 100px;
  }
}
.toptools{
  margin-bottom: 20px;
}
.el-table th, .el-table td{
  padding: 9px 0;
}