%section{
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  &::-webkit-scrollbar-thumb{
    background-color: rgba(136,136,136,.5);
    border-radius: 20px;
    z-index: 999;
  }
  &::-webkit-scrollbar{
   height: 10px;
   width: 8px;
  }
  &::-webkit-scrollbar-track{
    border-radius: 20px
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"]{
    -moz-appearance: textfield;
  }
.view{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}
.btn {
  line-height: 25px;
  padding: 0 10px;
  margin: 4px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #606266;
  color: #606266;
  outline-style: none;
  cursor: pointer;
  &:hover {
    border: 1px solid #3498db;
    color: #3498db;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.3s;
    transform: scale(1.1)
  }
  &:disabled{
    font-weight: 400;
    color: #bfcbd9;
    border-color: #bfcbd9;
    transform: scale(1);
    cursor: not-allowed;
  }

}
.btn-padding{
    padding: 5px;
  }
  .left-box {
    min-width: 300px;
    width: 500px;
    padding: 5px;
    animation: right-to-left 5s linear;
  }
  .list-box {
    .list {
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      margin: 5px 10px;
      padding: 5px 10px;
      overflow-y: auto;
      height: 335px;
      text-align: center;
      // overflow: hidden;
      @extend %section;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        padding: 6px 10px;
        border-bottom: 1px solid #e6e6e6;
        &:hover {
        cursor: pointer;
        background: rgba(67, 159, 252, 0.1);
        }
      }
      .disabled{
        pointer-events: none;
      }
      .selected {
        background: rgba(67, 159, 252, 0.2);
      }
    }
  }
  .map-box {
    border: 1px solide #e6e6e6;
    height: 100%;
    width: 100%;
  }
  .conf-h {
    margin: 0;
    padding: 10px;
    display: inline-block;
  }
.conf-form{
  font-size: 14px;
  font-weight: 700;
  .conf-form-row{
    padding: 0 5px 5px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    .conf-form-label{
      padding: 10px 5px;
      width: 100px;
      position: relative;
    }
    .required-span{
      color: red;
      position: absolute;
      right: 0;
    }
    .unit-span{
      position: absolute;
      top: 5px;
      padding: 10px;
      right: 75px;
      color: #bfcbd9;
      font-weight: 400;
      pointer-events: none;
    }
    .lefticon{
      right: 45px;
    }
    .righticon{
      right: 10px;
    }
    .time-picker{
      width: 100%;
      margin: 0 5px 0 10px;
      input{
        border-color: #000;
        height: 36px;
        padding: 5px 10px;
        &:hover{
          border-color:#3498db;
          transition: all 0.3s;
          transition: all 0.3s;
          transform: scale(1.05);
          color:#3498db;
        }
        &:disabled{
          cursor: not-allowed;
          background-color: #fff;
          border-color: #bfcbd9;
          transform: scale(1);
          color:#bfcbd9;
        }
      }
      span{
        left: calc(100% - 35px);
        width: 35px;
        color:#bfcbd9;
      }
      .el-icon-time{
        border-left: 1px solid #bfcbd9;
        width: 35px;
      }
      .el-icon-circle-close{
        background: #fff;
        left: 0;
        margin: 1px;
        height: 34px;
        width: 31px;
        transition: none;
        &:hover{
          color: #3498db;
          transition: all 0.3s;
        }
      }
    }
    .conf-form-input{
      border: 1px solid #000;
      border-radius: 5px;
      line-height: 15px;
      outline-style: none;
      display: block;
      padding: 5px 10px;
      margin: 0 5px 0 10px;
      width: 100%;
      &::-webkit-input-placeholder{
        color: #bfcbd9;
      }
      &:hover{
        border-color:#3498db;
        transition: all 0.3s;
        transition: all 0.3s;
        transform: scale(1.05);
        color:#3498db;
      }
      &:disabled{
        cursor: not-allowed;
        background-color: #fff;
        border-color: #bfcbd9;
        transform: scale(1);
        color:#bfcbd9;
      }
    }
    .conf-form-icon{
      color: #bfcbd9;
      padding: 10px;
      top: 0px;
      position: absolute;
      border-left: 1px solid #bfcbd9;
      cursor: pointer;
      &:hover{
        color: #3498db;
        transition: all 0.3s;
        font-weight: 700;
      }
      &:disabled{
        cursor: not-allowed;
        color: red;
      }
    }
    .isdisabled{
        color: #bfcbd9;
        pointer-events: none;
        cursor: not-allowed;
        &:hover{
        color: #bfcbd9;
        transform: scale(1);
        }
      }
    .dropdown-menu{
      border: 1px solid #000;
      background-color: #fff;
      position: absolute;
      top: 35px;
      right: 5px;
      margin: 2px 5px;
      width: calc(100% - 100px);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 999;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li{
        text-align: center;
        padding: 10px 20px;
        font-weight: 400;
        cursor: pointer;
        &:first-child{
          border-bottom: 1px solid #bfcbd9;
        }
        &:hover{
          color: #fff;
          transition: all 0.3s;
          background: rgba(30, 144, 255,.5);
        }
      }
    }
  }
}
.vehicle-checkbox{
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin: 0 10px 5px;
  padding: 5px 10px;
}
.el-checkbox-group{
    .el-checkbox{
      display: inline-block;
      width: 100%;
      padding: 0;
      &:first-child{
        padding-left: 30px;
      }
  }
}

.el-time-panel{
  width: 245px;
  border-radius: 5px;
  margin-top: 5px;
  .cancel,
  .confirm{
    &:hover {
      color: #3498db;
      font-weight: 700;
      transition: all 0.3s;
      transform: scale(1.1)
    }

  }
}
.arrow-left{
  width: 25px;
  top: calc(50% - 90px);
  right: 0;
  font-size: 25px;
  padding: 30px 0;
  height: 90px;
  position: relative;
  float: left;
  &:hover{
    background: rgba(30, 144, 255,.1);
  }
}
.el-table th{
  background:#ecf5ff;
}
.BMap_cpyCtrl {
  display: none;
}
.anchorBL {
  display: none;
}
