.navmenu-box{
    ul{
        list-style: none;
        display: flex;
        margin-right: 100px;
        li{
            word-break: keep-all;
            overflow: hidden;
            text-overflow: ellipsis;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 20%;
            color: rgba(245,255,250,1);
            box-sizing: border-box;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            &:hover{
              transform: scale(1.2);
              transition: 0.5s;
            }
            a{
              width: 100%;
              display: inline-block;
            }
          }
        .active{
          color: #008080;
          background-color: #fff;
          &:hover{
            transform: scale(1);
            transition: 0.5s;
          }
        }
    }
}